@model GaoXiaoAsp.Models.LendingStatu

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="~/Content/reminder.css"/>

<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">團體視聽室 </p>
                <h2 class="fw-bold">R @TempData["createRoom"]</h2>
            </div>
        </div>
        <div class="app-content">
            <div class="app-message">
                <button class="app-messages-close">
                    <i class="material-icons">close</i>
                </button>
                <div class="app-section-header notification">
                    <p>預約</p>
                    <div class="col col-1">
                        <a onclick="history.back()" class="btn btn-primary shadow" role="button">
                            <svg class="fs-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                                 fill="currentColor">
                                <path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM310.6 345.4c12.5 12.5 12.5 32.75 0 45.25s-32.75 12.5-45.25 0l-112-112C147.1 272.4 144 264.2 144 256s3.125-16.38 9.375-22.62l112-112c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L221.3 256L310.6 345.4z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="app-summit">
                    <form class="p-3 p-xl-4" method="post" action="/LendingStatus/Index/@TempData["createRoom"]/">
                        <div class="mb-3">
                            <input class="form-control" type="datetime-local" name="StartTime">
                            <p>開始時間 時間只取整數</p>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="datetime-local" name="EndTime">
                            <p>結束時間&nbsp;時間只取整數<br></p>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="text" id="name-1" placeholder="人數">
                        </div>
                        <div>
                            <button class="btn btn-primary shadow d-block w-100" type="submit">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>