
@{
    ViewBag.Title = "RuleAudio";
}

<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col col-1"><a onclick="history.back()" class="btn btn-primary shadow" role="button">
                <svg class="fs-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                     fill="currentColor">
                    <path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM310.6 345.4c12.5 12.5 12.5 32.75 0 45.25s-32.75 12.5-45.25 0l-112-112C147.1 272.4 144 264.2 144 256s3.125-16.38 9.375-22.62l112-112c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L221.3 256L310.6 345.4z"></path>
                </svg>
            </a></div>
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Regulations</p>
                <h3 class="fw-bold">使用辦法</h3>
            </div>
            <div class="col col-1">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container">
                    <p class="fw-bold text-success mb-2">Audio-visual Room</p>
                    <h5 class="fw-bold">團體視聽室<br></h5>
                    <p class="text-muted">服務對象：<br>本校教職員生、校友。<br><br>服務時間：<br>週一至週五&nbsp;&nbsp;08：00－21：00<br>週六、日&nbsp;&nbsp;09：30－17：30<br><br>預約方式
                        ：<br>1.線上預約： (點我預約)<br>2.到館預約：請持教職員證、學生證、校友借書證親自至圖書館二樓服務台辦理預約手續。<br><br>借還地點：<br>二樓數位學習中心服務台<br><br>借用方式：<br>1.
                        三人以上即可借用；請持教職員證、學生證、校友借書證親自辦理借還。<br>2.請於預約借用時段開始十五分鐘內辦理借用，逾時十五分鐘者，得取消其預約。<br><br>借用時限：<br>團體視聽室借用以三小時為限，一次一間，不得轉借或與他人交換。<br><br>影片欣賞：<br>限本館館藏公播版影音資源。<br><br>聯絡單位：創新學習整合組<br>電話：11679
                        (分機)<br>E-Mail：avc1@lib.pu.edu.tw</p>
                </div>
            </div>
        </div>
    </div>
</section>

