
@{
    ViewBag.Title = "Rule";
}

<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Regulations</p>
                <h3 class="fw-bold">使用辦法</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col mb-5"><img class="rounded img-fluid shadow" src="~/Images/DiscussionRoom3~8.jpg">
            </div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold">討論室</h5>
                    <p class="text-muted mb-4">為支援教學及提供學術性研討，圖書館特於三樓設立七間討論室，六、八樓各設2間討論室，(總共十一間)，供本校教職員生使用。</p>
                    <button class="btn btn-primary shadow" type="button">了解詳情</button>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col order-md-last mb-5"><img class="rounded img-fluid shadow"
                                                     src="~/Images/DiscussionRoom3.jpg"></div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold">團體視聽室<br></h5>
                    <p class="text-muted mb-4">為方便讀者觀賞館藏影音資源，圖書館特於2樓設立團體視聽座，供本校教職生、校友使用。</p>
                    <button class="btn btn-primary shadow" type="button">了解詳情</button>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col mb-5"><img class="rounded img-fluid shadow" src="~/Images/DiscussionRoom1~2.jpg">
            </div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold">研究小間</h5>
                    <p class="text-muted mb-4">為方便讀者使用館藏資料、從事學術研究，圖書館特於3、6、8三個樓層各設立4間研究小間(總共12間)，供本校教職員用。</p>
                    <button class="btn btn-primary shadow" type="button">了解詳情</button>
                </div>
            </div>
        </div>
    </div>
</section>
