
@{
    ViewBag.Title = "RuleCarrel";
}

<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col col-1"><a onclick="history.back()" class="btn btn-primary shadow" role="button">
                <svg class="fs-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                     fill="currentColor">
                    <path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM310.6 345.4c12.5 12.5 12.5 32.75 0 45.25s-32.75 12.5-45.25 0l-112-112C147.1 272.4 144 264.2 144 256s3.125-16.38 9.375-22.62l112-112c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L221.3 256L310.6 345.4z"></path>
                </svg>
            </a></div>
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Regulations</p>
                <h3 class="fw-bold">使用辦法</h3>
            </div>
            <div class="col col-1">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container">
                    <p class="fw-bold text-success mb-2">Study Carrel</p>
                    <h5 class="fw-bold">研究小間<br></h5>
                    <p class="text-muted">說明：<br>為方便讀者使用館藏資料、從事學術研究，圖書館特於3、6、8三個樓層各設立4間研究小間(總共12間)，供本校教職員生使用。<br><br>服務對象：<br>本校教職員及博碩士班研究生；大學四年級生經指導教授推薦者。<br><br>借還地點：<br>一樓流通櫃台。<br><br>借用方式：<br>一、
                        本校教職員及博碩士班研究生：<br>&nbsp; &nbsp; 1. 先自行透過「館藏查詢系統」線上預約研究小間。<br>&nbsp; &nbsp; 2.
                        待接獲電子郵件「預約資料可借通知單」後，即可憑教職員證或學生證至圖書館一樓流通服務櫃台辦理借用。<br>二、 大學四年級生：<br>&nbsp; &nbsp;
                        先至圖書館一樓流通櫃台索取「研究小間申請表格」，經指導教授推薦完成表格填寫，繳交至圖書館1F流通櫃台即可。<br><br>使用期限：<br>研究小間借期14天，1次以1間為限，不得轉借或與他人交換。借用期間使用未滿借期二分之一者，停止借用權1個月。<br><br>使用方法：<br>借用當日，請憑本人證件向流通櫃台領取鑰匙，於書庫開放時間內進入使用，並於當日閉館前將鑰匙歸還流通櫃台。<br><br>借書權限：<br>小間借用人如需利用與研究相關之本館館藏時，請到一樓流通櫃台辦理借閱手續，可借圖書40冊，置放於所借之小間內，不得攜出館外，圖書於研究室到期時歸還。沒有借閱的書刊不得置於小間內，
                        若經查獲，本館會將圖書取出上架。<br><br>預約方式：<br>1. 請連結「館藏查詢系統」。<br>2.
                        於相關檢索欄位關鍵字或書刊名輸入「研究小間」，例如：書刊名「研究小間」，點選「查詢」。<br>3.
                        點選該筆資料的「預約」→輸入學校入口網站證號及密碼，點選「預約」→確認視窗，點選「確定」。<br>4. 可預約件數包含圖書、電子資料、視聽資料與研究小間合併共計為5件。<br>5.
                        輸入證號及密碼，點選「預約」。<br><br>相關連結：<br>蓋夏圖書館研究小間使用辦法&nbsp; &nbsp;&nbsp;<svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em"
                                fill="currentColor">
                            <path d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"></path>
                        </svg>
                        <br>大四學生研究小間使用申請表&nbsp; &nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg"
                                                                 viewBox="-32 0 512 512" width="1em" height="1em"
                                                                 fill="currentColor">
                            <path d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"></path>
                        </svg>
                        <br><br>聯絡單位：典藏閱覽組<br>電話：11651 (分機)&nbsp;<br>E-Mail：cir@lib.pu.edu.tw
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

