
@{
    ViewBag.Title = "RuleDiscussion";
}

<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col col-1"><a onclick="history.back()" class="btn btn-primary shadow" role="button">
                <svg class="fs-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                     fill="currentColor">
                    <path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM310.6 345.4c12.5 12.5 12.5 32.75 0 45.25s-32.75 12.5-45.25 0l-112-112C147.1 272.4 144 264.2 144 256s3.125-16.38 9.375-22.62l112-112c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L221.3 256L310.6 345.4z"></path>
                </svg>
            </a></div>
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Regulations</p>
                <h3 class="fw-bold">使用辦法</h3>
            </div>
            <div class="col col-1">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container">
                    <p class="fw-bold text-success mb-2">Discussion Room</p>
                    <h5 class="fw-bold">討論室</h5>
                    <p class="text-muted">為支援教學及提供學術性研討，圖書館特於三樓設立七間討論室，六、八樓各設立2間討論室，(總共十一間)，供本校教職員生使用。<br><br>服務對象：<br>本校教職員生。<br><br>預約方式
                        ：<br>1.線上預約： <a
                                href="index.html">(點我預約)</a><br>2.到館預約：憑教職員或學生證親自至圖書館一樓流通櫃台辦理預約手續。<br><br>借還地點：<br>一樓流通櫃台<br><br>借用方式：<br>1.凡本校師生因教學或課業研討之需求，均可憑教職員證或學生證借用，並於書庫開放時間內進入使用。<br>2.借用者三人以上，八人以下，以後棟討論室優先借用；借用者六人以上，十五人以下，以前棟討論室優先借用。<br>3.借用當日，應憑本人證件向流通櫃台領取鑰匙，於書庫開放時間內進入使用，並於當日閉館前將鑰匙歸還回流通櫃台。<br><br>借用時限：<br>討論室借用以四小時為限，一次一間，不得轉借或與他人交換。<br><br>相關連結：<br><a
                                href="https://www.lib.pu.edu.tw/pdffile1/disroomrule.pdf"
                                target="_blank">蓋夏圖書館討論室使用辦法</a>&nbsp; &nbsp;&nbsp;<svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                                fill="currentColor">
                            <path d="M384 320c-17.67 0-32 14.33-32 32v96H64V160h96c17.67 0 32-14.32 32-32s-14.33-32-32-32L64 96c-35.35 0-64 28.65-64 64V448c0 35.34 28.65 64 64 64h288c35.35 0 64-28.66 64-64v-96C416 334.3 401.7 320 384 320zM488 0H352c-12.94 0-24.62 7.797-29.56 19.75c-4.969 11.97-2.219 25.72 6.938 34.88L370.8 96L169.4 297.4c-12.5 12.5-12.5 32.75 0 45.25C175.6 348.9 183.8 352 192 352s16.38-3.125 22.62-9.375L416 141.3l41.38 41.38c9.156 9.141 22.88 11.84 34.88 6.938C504.2 184.6 512 172.9 512 160V24C512 10.74 501.3 0 488 0z"></path>
                        </svg>
                        <br><br>聯絡單位：典藏閱覽組<br>電話：11651 (分機)<br>E-Mail：cir@lib.pu.edu.tw
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
